@font-face {
  font-family: Pacifico;
  src: url("/src/fonts/Pacifico.ttf");
}
@font-face {
  font-family: Cookie;
  src: url("/src/fonts/Cookie-Regular.ttf");
}
.pacifico {
  font-family: Pacifico;
}

.cookie {
  font-family: Cookie;
}
